<div class="row-fluid">
  <div class="col-xs-4">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="lead">Sign up</h2>
  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
  <%= render "devise/shared/links" %>

  <% end %>
  </div>
  <div class="col-xs-6">
    <div class="lead signupmessage">
      </br></br>
      Thank you for considering signing up for Microposter. We hope you are happy with us and would love
      your feedback!
    </div>
    <div class="lead">
      Just provide us a Username, Valid E-mail, and you'll be on your way to posting!
    </div>
  </div>
</div>