<div class="center hero-unit">

<p>
  <strong>Username:</strong>
  <%= @user.name.titleize %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>

<% unless @user.microposts.all.empty? %>
      <strong>Posts:</strong>
      <% @microposts.each do |f| %>
      <div>
        <p>
        <%= f.content %> ---- <%= f.created_at.to_date %>
        </p>
      </div>
      <%end%>
<%end%>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
