<div class="container">
  <div class="row">
    <%= form_for(@micropost) do |f| %>
      <% if @micropost.errors.any? %>
        <div id="error_explanation" class="alert alert-danger lead">
          <a class="close" data-dismiss="alert">
            x
          </a>
          <h2>
            <%= pluralize(@micropost.errors.count, "Error") %> in Post
          </h2>
          <ul>
            <% @micropost.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %></li>
          </ul>
        </div>
            <% end %>
      <% end %>
  </div>

  <div class="row">

    <div class="col-xs-1">
    </div>

    <div class="btn btn-primary col-xs-12">
      <%= f.label :Post%><br>
      <%= f.text_area(:content, size: '10x10',class: "col-xs-12 text-black")%>
    </div>

    <div class="col-xs-1">
    </div>

  </div>

<br>

  <div class="row-fluid">

    <div class="col-xs-3">
      <%= f.submit :Post, class: "col-xs-12 btn btn-md btn-primary" %>
      <% end %>
    </div>

    <div class="col-xs-6">
    </div>

    <div class="col-xs-3">
      <%= link_to 'Cancel', microposts_path, class: "btn btn-danger" %>
    </div>

  </div>

</div>
