<div class="container jumbotron">
<% title "- #{@user.name}'s Micro" %>

<h2 class="well lead fa fa-quote-left">
  <%= link_to user_path(@user) do %>
  <%= show_gravatar_for(@user) %> <%= @user.name %>
  <% end %>...

      <td><%= @micropost.content %></td>
  <i class="fa fa-quote-right"></i>
</h2>


<div>
  <% if user_signed_in? && @micropost.user_id == current_user.id %>
    <%= link_to 'Edit', edit_micropost_path(@micropost), class: "btn btn-default"  %> <%= link_to 'Back', microposts_path, class: "btn btn-default"  %>
  <% else %>
    <%= link_to 'Back', microposts_path, class: "btn btn-default"  %>
  <% end %>
</div>
</div>