<footer class="container">
  <div class="row">

      <div class="col-xs-6 text-left">
        <div>
        <%= link_to "Microposter", posts_path, id: "logo", class: "lead" %> <sub> created by: Sean M. Snyder</sub>
        </div>
      </div>

      <div class="col-xs-6 text-right">
          <div>
          <span><%= link_to " Codeschool", "http://www.codeschool.com", class: "whiten btn btn-sm btn-warning fa fa-code" %></span>
          <span><%= link_to " Ruby Language", "http://www.ruby-lang.org", class: "whiten btn btn-sm btn-danger fa fa-heart" %></span>
          <span><%= link_to " Ruby Rogues", "http://www.rubyrogues.com", class: "whiten btn btn-sm btn-info fa fa-bullseye" %></span>
          <span><%= link_to " Github", "http://www.github.com", class: "whiten btn btn-sm btn-success fa fa-github" %></span>
          </div>
      </div>
  </div>


</footer>
