<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "Microposter", posts_path, id: "logo", class: "span2 offset5" %>
    <div class="container">
      <nav>
          <div class="btn-toolbar pull-right">
          <div class="btn-group">
          <% if user_signed_in? %>
          <%= mini_gravatar_for current_user %>
          <%= link_to current_user.name, user_path(current_user.id), :class => "btn btn-small btn-primary" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-small btn-primary" %>
          <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-small btn-primary" %>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-small btn-primary" %>
          <% end %>
          <%= link_to "User List", users_path, class: "btn btn-small btn-primary" %>
          <%= link_to "All Posts", posts_path, class: "btn btn-small btn-primary" %>
          </div>
          </div>
      </nav>
    </div>
  </div>
</header>
