<header class="navbar navbar-fixed-top navbar-inverse">

    <div class="container">
      <nav class="row-fluid">
        <p></p>
        <div class="col-xs-6">
        <%= link_to "Microposter", posts_path, id: "logo", class: "whiten lead" %>
        </div>
        <div class="btn-group pull-right">
          <% if user_signed_in? %>
                <!-- Split button -->
                <div class="btn-group">

                  <div type="button" class="btn btn-primary hidden-xs"><%= link_to mini_gravatar_for(current_user), user_path(current_user.id) %> <%= current_user.name %></div>
                  <button type="button" class="btn btn-primary dropdown-toggle hidden-xs" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="container col-xs-10"><%= link_to med_gravatar_for(current_user), "http://www.gravatar.com"%></li>
                    <li class="divider"></li>
                    <li><%= link_to "My Account", edit_user_registration_path(current_user.id) %></li>
                    <li><%= link_to "Posts", user_path(current_user.id) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "New Post", new_micropost_path(current_user.id) %></li>
                  </ul>
                </div>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary hidden-xs" %>
          <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary hidden-xs" %>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-primary hidden-xs" %>
          <% end %>
          <%= link_to "User List", users_path, class: "btn btn-primary hidden-sm hidden-xs" %>
          <%= link_to "All Posts", posts_path, class: "btn btn-primary hidden-sm hidden-xs" %>

        </div>
      </nav>
    </div>
</header>