<!DOCTYPE html>
<html>
<head>
  <title>Micropost <% if user_signed_in? %> | <%= current_user.name %> <% else %> <%= yield(:title) %> <% end %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body class="container">
  <div>
    <%= render 'layouts/headers' %>
  </div>

  <div class="container jumbotron">
    <%= yield %>
    <% if notice %>
      </br>
      <div class="col-xs-4"></div>
      <div class="col-xs-3 text-center alert alert-success">
      <a class="close" data-dismiss="alert">x</a>
    <%= notice %>
      </div>
    <% elsif alert %>
      </br>
      <div class="col-xs-4"></div>
      <div class="acol-xs-3 text-center alert alert-danger">
      <a class="close" data-dismiss="alert">x</a>
    <%= alert %>
      </div>
    <% end %>
  </div>
  <div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>