<!DOCTYPE html>
<html>
<head>
  <title>Micropost <% if user_signed_in? %> | <%= current_user.name %> <% else %> <%= yield(:title) %> <% end %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<div id="container">
<div id="navbar">
  <ul>
    <% if user_signed_in? %>
    <div id="avatar"><%= link_to image_tag("sean.jpg", :size => '25x25'), edit_user_registration_path %></div>
    <% unless current_user.microposts.size == 0 %>
    <li id="avaposts">Total Posts:<%= link_to current_user.microposts.size, user_path(current_user.id) %></li>
    <% end %>
    <li><%= link_to current_user.name, user_path(current_user.id) %></li>
    <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <li><%= link_to "Log in", new_user_session_path %></li>
    <% end %>
    <li><%= link_to "User List", users_path %></li>
    <li><%= link_to "All Posts", posts_path %></li>
  </ul>
</div>

<body id="content">
<div id="appnotice"><% if notice %><%= notice %><% end %>
<% if alert %><%= alert %><% end %></div>

<%= yield %>
</body>
</div>
</html>
